/* The universal selector is used here to assign a default padding and margin of 0 to every element in the file.
While border-box is used to take into account their parent elements. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Assigning the body a background color. */
body {
    background-color: #d9dcd6;
}

/* Removed the class ".header" and changed the div into a header. This refers to the top bar at the site. */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Changed to the newly created header element. */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* This is an exclusive class for the main title span element, so the header and h1 elements were removed from the selector. */
.seo {
    color: #b0b3ad;
}

/* Turned the div into a nav for the top menu. */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* This targets the ul that contains the links to navigate the site. */
header nav ul {
    list-style-type: none;
}

/* This targets the navigation links in the top menu. */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* This class targets the hero image at the top of the site. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/* To target links. (Same ones at the top menu bar) */
a {
    color: #ffffff;
    text-decoration: none;
}

/* To target the paragraph elements. */
p {
    font-size: 16px;
}

/* A couple of classes used for the images inside the articles. */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* This class targets a div that was turned into a section to contain the articles. */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Another class to target a section that contains the aside info elements. */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* This targets the aside elements with info about the brand benefits. 
Three classes were turned into one for simplicity purposes. The three classes had the same style, so 9 selectors were turned into 3. */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* A new class, to replace 3 former classes for simplicity purposes, that targets the articles. The three classes had the same style, so 9 selectors were turned into 3. */
.feature {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.feature img {
    max-height: 200px;
}

.feature h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Removed the class ".footer" and changed the div into a "footer" element. This refers to the bottom bar that displays the credits of the site. */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
